.div1{
    float: left;
    background-color: aqua;
    width: 25%;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}
.div2{
    float: left;
    background-color: blanchedalmond;
    width: 25%;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}
.div3{
    float: left;
    background-color: orangered;
    width: 25%;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}
.div4{
    float: left;
    background-color: blue;
    width: 25%;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}
